

<launch>
	<machine name="rosPi" address="192.168.1.32" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default = "never" />
	
	
	<param name="ch_bot_model" command="$(find xacro.py) '$(find ch_bot_description)/urdf/ch_bot.xacro'" />
	
	<node name="ch_bot_diff_drive" pkg="ch_bot" type="wheel_motor_controller" machine="rosPi" />

</launch>