

<launch>
	<machine name="rosPi" address="192.168.1.32" env-loader="~/ch-bot_ws/devel/env.sh" default = "never" />
	
	
	<param name="ch_bot_model" command="$(find xacro.py) '$(find ch_bot_description)/urdf/ch_bot.xacro'" />
	
	<node name="ch_bot_diff_drive" pkg="ch_bot" type="wheel_motor_controller" machine="rosPi" />

</launch>